
{{> head }}
{{> navbar}}


<div class="row">
    <div class="col-8">
        <h1>Titulo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo quis soluta, natus provident cupiditate?</p>
    </div>

    <div class="col-4">
        <img src="https://picsum.photos/200/300" alt=""  class="img-thumbnail">
    </div>
</div>




{{> footer}}